@import "tailwindcss";

@theme {
    --color-orange: #FF6500;
    --color-negro: #000000;
    --color-sand: #d38e31;
    --color-clsand: #f0df99;
    --color-oscazul: #1a748e;
    --color-masoscuro: #005871;
    --color-azul: #55c4d7;
  }
